.navbar {
	font-family: Bree Serif,Georgia,serif;
	font-size: 20px;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 0.1em;
}

.navbar-default .navbar-brand {
    color: #35b729;
    font-size: 25px;
}

.navbar-default a.navbar-brand {
    text-shadow: none;
}

.navbar-default .navbar-nav > li > a {
	color: #74bf82;
    text-shadow: none;
    font-weight: 400;
}

.navbar-default ul.nav > li.active > a, .home .navbar-default ul.nav > li.open > a {
    text-decoration: none !important;
    border-top-color: #44d9e6;
}

.navbar ul.nav > li > a:hover, .navbar ul.nav > li > a:focus {
    border-top-color: #ffbd4a;
    border-bottom: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    transition: all 0.2s ease-out;
}

.banner-home {
    position: relative;
}

.bg-primary {
    background-color: #a8ea75;
}

.bg-secondary {
    background-color: #aa91ea;
}

.bg-summer {
    background-color: #ff9c36;
}

.textoverlay h1 {
    font-family: 'Calligraffitti', cursive;
    color: #b6d8e2;
    position: absolute;
    top: 30%;
    width: 100%;
}

section {
    position: relative;
    padding-top: 35px;
    padding-bottom: 35px;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Bree Serif,Georgia,serif;
    font-weight: normal
}

h4 {
    color: #000;
    font-weight: normal
}

form {
    margin-top: 10px;
}

a i.fa {
    color: #ff8000;
}

.table-grey {
    background-color: #f7f7f7;
}

.table-green {
    font-size: 20px;
    font-family: Bree Serif,Georgia,serif;
    background-color: #74bf82;
}

.table-teal {
    font-size: 20px;
    font-family: Bree Serif,Georgia,serif;
    background-color: #44d9e6;
}

#map {
    height: 400px;
}

.post .post__intro {
    font-size: 18px;
    color: #333;
}

.pricinggrid {
    border-bottom-width: 2px;
}

.footer__copyright {
	color: #333;
	background: #ffbd4a;
	padding: 30px 0;
}

/* MAILCHIMP STYLING */
/* Changes the style of the overall form */
#mc_embed_signup {
    background: #fff;
    color: #000000;
    padding: 10px;
    font-size: 13px;
    font-family: Bree Serif,Georgia,serif;
    text-align: center;
}

/* Styles the header text above the inputs */
#mc_embed_signup h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #000000;
    text-align: center;
}

#mc_embed_signup p {
    font-size: 13px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #000000;
}

/* Adds extra space around the input boxes */
#mc_embed_signup .mc-field-group {
    padding: 5px 0;
}

/* Styles the input boxes */
#mc_embed_signup  input {
    width: 200px;
}

/* Styles the subscribe button */
#mc_embed_signup .button {
    background-color: #44d9e6;
    color: #000;
    margin: 0 auto;
}

.contactform {
    font-family: Bree Serif,Georgia,serif;
}